.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}
.notes-aside{
  max-width: 300px;
  width: 100%;
  border-right: 1px solid gray;
}
.notes-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.notes-item{
  padding-top: 10px;
}
.workspace{
  width: 100%
}
.workspace-date{
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
